

:root {
    // Button Color 
    --btn-activeColor: #1e9dfc;
    --btn-simpleColor: #3ba1ff;
    // Accent Color
    --color-accentColor: #ff5761;

    // task background
    --task-background: rgba(255, 255, 255, 0.164);

    // border color
    --border-color: rgba(255, 255, 255, 0.205);

    // text color 
    --text-color: rgba(255, 255, 255, 0.514);

    // input color
    --input-color: #3d1262c2;
}