 .textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 8px;
    background: var(--input-color);
    padding: 10px 15px;
    color: var(--text-color);
    border: 1px solid transparent;
    &::placeholder{
      color: var(--text-color);
      opacity: 0.5;
    }
 }