.input {
    background: var(--input-color);
    border-radius: 8px;
    padding: 10px 15px;
    color: var(--text-color);
    width: 100%;
    border: 1px solid transparent;
    &::placeholder{
        color: var(--text-color);
        opacity: 0.5;
    }
}

.input[type='date'] {
    padding-right: 15px;
}

.input[type='time']{
    padding-right: 15px;
}

.input[type='file'] {
    // display: flex;
    // align-items: center;
    // visibility: hidden;
    padding: 0;
}
.input[type='file']::before {
    margin-right: 10px;
    padding: 10px 15px;
    content: 'Select avatar';
    display: inline-block;
    width: min-content;
    background: var(--btn-simpleColor);
    border-radius: 8px;
    outline: none;
    white-space: nowrap;
    // -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease;
  }

.input[type='file']:hover::before{
    background: #5cadf8;
}
.input[type='file']:active::before{
    background: #3097f7
}

.input[type='file']::file-selector-button {
    display: none;
}
  
.input[type=file]::file-selector-button:hover {
    background: #52abff;
  }
.input[type=file]::file-selector-button:active {
    background: #2990f0;
}

.label {
    margin-bottom: 8px;
    color: rgba($color: #ffffff, $alpha: 0.3);
    text-align: start;
    margin-left: 15px;
}
