.input {
    background: var(--input-color);
    border-radius: 8px;
    padding: 10px 0px;
    text-indent: 15px;
    color: var(--text-color);
    width: 100%;
    &::placeholder{
        color: var(--text-color);
        opacity: 0.5;
    }
}

.input[type='date'] {
    padding-right: 15px;
}

.input[type='time']{
    padding-right: 15px;
}

.input[type='file'] {
    background: transparent;
    padding: 0;
    margin-left: -30px;
}

.input[type='file']::file-selector-button {
    // display: none;
    margin-right: 20px;
    border: none;
    background: var(--btn-simpleColor);
    padding: 10px 15px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-size: 16px;
    // width: 10px;
    // height: 20px;
}
  
.input[type=file]::file-selector-button:hover {
    background: #52abff;
  }

.label {
    margin-bottom: 8px;
    color: var(--text-color);
    text-align: center;
}

// .info {
//     max-width: 100px;
// }