@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,400;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&display=swap');

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

// #modals {
//     position: relative;
//     top: 0;
//     left: 0;
// }

body {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: linear-gradient(65deg, rgba(53,6,94,1) 0%, rgba(55,9,91,1) 45%, rgba(107,30,93,1) 64%, rgba(99,25,95,1) 100%);
    color: #fff;
    font-family: 'Arimo', sans-serif!important;
    font-weight: 400;
}

.container {
    padding: 0 30px;
    height: 100%;
    @media(max-width: 530px) {
        padding: 0 20px;
    }
}

.wrapper {
    max-width: 1450px;
    width: 100%;
}

.main__container {
    margin: 0 25px;
    border: 2px solid rgba(255, 255, 255, 0.205);
    border-radius: 15px;
    @media(max-width: 374px) {
        margin: 5px;
    }
}

main {
    background: rgba(255, 255, 255, 0.158);
    height: 80vh;
    overflow-y: scroll;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    @media(max-width: 374px){
        height: 90vh;
    }


}
main::-webkit-scrollbar {
    display: none;
 }

.flex__container {
    display: flex;
}

.content {
    flex: 1 1 auto;
    // border-right: 1px solid rgba(255, 255, 255, 0.205);
    // padding-right: 30px;

    @media (max-width: 854px) {
        padding-right: 0;
        border-right: none
    }
}
.calendar {
    display: none;
    flex: 0 0 250px;
    @media (max-width: 854px) {
        display: none;
    }
}

.login {
    &__title {
        margin-top: 10px;
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        button{
            align-self: end;
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
}


.filters {
    padding-top: 45px;
    font-size: 26px;
    font-weight: 600;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 685px) {
            display: block;
        }
    }
    &__title {
        flex: 1 0 auto;
        @media(max-width: 685px) {
            margin-bottom: 15px;
        }
    }
    &__decor {
        margin-right: 30px;
        @media(max-width: 685px) {
            display: none;
        }
    }
    &__bottom {
        margin-top: 20px;
        background: var(--input-color);
        font-size: 12px;
        padding: 15px 20px;
        border-radius: 8px;
        display: flex;
        gap: 20px;

        @media(max-width: 530px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 8px 13px;

        }
    }
    &__bottom-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;
        @media(max-width: 530px) {
            order: 3;
        }
    }
    &__bottom-filters {
        background: var(--input-color);
        border: none;
        background: transparent;
        color: var(--text-color);
        position: relative;
        // font-family: 'Montserrat', sans-serif!important;
    }
    &__bottom-option {
        background: var(--input-color);
        padding: 10px;
        border-bottom-left-radius: 8px;
        margin: 20px 0;
        // font-family: 'Montserrat', sans-serif!important;
    }
    &__bottom-input {
        width: auto;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        gap: 8px;
        input {
            background: transparent;
        }
        @media(max-width: 530px) {
            order: 1;
        }
    }

    &__bottom-input-inner {
        background: transparent;
        box-shadow: none;
        border: none;
        color: var(--text-color);
        flex: 1 1 auto;
    }
    &__bottom-input-inner::placeholder{
        color: var(--text-color);
        font-family: 'Montserrat', sans-serif!important;
    }
    &__decor2 {
        height: 20p;
        width: 1px;
        background: var(--border-color);
        @media(max-width: 530px) {
            height: 1px;
            width: 100%;
            display: block;
            order: 2;
        }
    }
    &__icon {
        flex: 0 0 auto;
        width: 20px;
        height: 20px;
        fill: var(--text-color);
    }
    &__status {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 40px;
        margin-top: 20px;
        @media(max-width: 430px) {
            align-items: center;
            flex-direction: column;
            gap: 10px;
        }
    }
}

.options__button {
    // margin-left: 20px;
    &-dot {
        display: block;
        background:  rgba(255, 255, 255, 0.205);
        width: 3px;
        height: 3px;
        border-radius: 50% ;
    }
    &-dot + .options__button-dot {
        margin-top: 2px;

    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    align-items: end;
}

.task__title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 26px;
}

.error__module {
    font-size: 14px;
    font-weight: 600;
    color: red;
    height: 15px;
    margin-top: -7px;
    &::first-letter{
        text-transform: uppercase;
    }
}