@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,400;0,600;1,300&display=swap');

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: linear-gradient(65deg, rgba(53,6,94,1) 0%, rgba(55,9,91,1) 45%, rgba(107,30,93,1) 64%, rgba(99,25,95,1) 100%);
    color: #fff;
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 400;
}

.container {
    padding: 0 30px;
    height: 100%;
    @media(max-width: 530px) {
        padding: 0 20px;
    }
}

.wrapper {
    max-width: 1450px;
}

.main__container {
    margin: 0 25px;
    border: 2px solid rgba(255, 255, 255, 0.205);
    border-radius: 15px;

}

main {
    background: rgba(255, 255, 255, 0.158);
    height: 80vh;
    overflow-y: scroll;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;

}
main::-webkit-scrollbar {
    display: none;
 }

.flex__container {
    display: flex;
}

.content {
    flex: 1 1 auto;
    // border-right: 1px solid rgba(255, 255, 255, 0.205);
    // padding-right: 30px;

    @media (max-width: 854px) {
        padding-right: 0;
        border-right: none
    }
}
.calendar {
    display: none;
    flex: 0 0 250px;
    @media (max-width: 854px) {
        display: none;
    }
}