.task {
    border: 2px solid var(--border-color);
    border-radius: 8px;
    background: var(--task-background);
    padding: 20px 15px;

    &__wrapper {
        padding-bottom: 20px;
        word-break: break-word;
        -webkit-column-break-inside: avoid;
        min-width: 200px;
    }

    &:hover {
        // box-shadow:
        // 40px 20px 20px #00070348;
        // transform: translateX(-15px) translateY(-15px);
    }

    &__title {
        font-weight: 600;
    }

    &__descr {
        margin-top: 10px;
        font-size: 14px;
        color: var(--text-color);
        line-height: 1.5;
    }

    &__progressbar {
        margin-top: 20px;
        width: 100%;
        height: 5px;
        background: var(--input-color);
        border-radius: 8px;
        overflow: hidden;
    }

    &__progressbar-fill {
        background: #ffd337;
        height: 100%;
        width: 48%;
    }

    &__time-remaining {
        margin-top: 10px;
        color: var(--text-color);
        margin-bottom: 15px;

        span {
            font-weight: 600;
            color: #fff
        }

        ;
    }

    &__options {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__users {
        display: flex;
        flex: 0 0 auto;
        position: relative;
    }

    &___users::after {
        position: absolute;
        content: '';
        right: 10px;
        top: 50%;
        width: 4px;
        background: red;
        height: 20px;
    }

    &__users-link {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: block;
        overflow: hidden;
        border: 1px solid #fff;
    }

    &__users-link img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: 50% 40%;
    }

    &__pin {
        display: flex;
        align-items: center;
        gap: 3px;
        flex: 1 0 auto;
        position: relative;
        padding-left: 10px;
    }

    &__pin::before {
        position: absolute;
        content: '';
        top: 50;
        left: 0;
        height: 20px;
        width: 1.5px;
        background: var(--border-color);
        border-radius: 8px;
    }

    &__pin-icon {
        width: 15px;
        height: 15px;
        fill: var(--text-color);
    }

    &__pin-count {
        font-size: 12px;
        color: var(--text-color);
        font-weight: 600;
    }
}

.options__dropdown {
    &:hover .options__dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    position: relative;
    &-button {
        cursor: pointer;
    }
    &-menu {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        // display: none;
        padding: 10px 10px;
        background: var(--input-color);
        border: 2px solid var(--border-color);
        border-radius: 8px;
        top: 18px;
        right: 0;
        min-width: 100px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    button {
        color: #fff;
        cursor: pointer;
    }
    button:hover {
        color: var(--color-accentColor);
        text-shadow: 0 0 10px var(--color-accentColor);
    }
}
