@import '../../../app/variables.scss';

.button {
    background: transparent;
    border: 3px solid $accentColor;
    color: #fff;
    border-radius: 12px;
    padding: 10px 15px;
    font-weight: 600;
    box-shadow: 0 0 10px $accentColor,
                inset 0 0 10px $accentColor ;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background: $accentColor;
    }
}

.active {
    border: 3px solid #1e9dfc!important;
    box-shadow: 0 0 10px #1e9dfc,
            inset 0 0 10px #1e9dfc!important;
    background: #1e9dfc!important;
}

